:root {
	--header-height: 170px;
	--nav-height: 60px;
	--footer-height: 55px;
	--ci-primary: #dd4814;
	--ci-secondary: #ae3910;
}

body {
	background-color: var(--light);
}

header {
	background-color: var(--ci-primary);
	color: var(--white);

	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: var(--header-height);
}

nav {
	background-color: var(--ci-primary);
	position: fixed;
	top: var(--header-height);
	right: 0;
	left: 0;
	height: var(--nav-height);
}

main {
	position: absolute;
	top: calc(var(--header-height) + var(--nav-height));
	right: 0;
	bottom: var(--footer-height);
	left: 0;
	overflow-x: hidden;
	overflow-y: auto;
}

footer {
	background-color: var(--white);
	border-top: 1px solid var(--ci-primary);
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	height: var(--footer-height);
}

.nav-pills .nav-link {
	background-color: var(--ci-primary);
	color: var(--white);
	border-radius: 0;
	text-transform: uppercase;
}
.nav-pills .nav-link.active,
.nav-pills .nav-link:hover {
	background-color: var(--ci-secondary);
	color: var(--white);
}

.form-control {
	border-radius: 0;
}
.form-control:focus {
	border-color: var(--ci-primary);
	box-shadow: 0 0 0 0.2rem rgba(221, 72, 20, .25);
}

.btn {
	border-radius: 0;
}
.btn-primary {
	background-color: var(--ci-primary);
	border-color: var(--ci-primary);
}
.btn-primary:hover {
	background-color: var(--ci-secondary);
	border-color: var(--ci-secondary);
	color: var(--white);
}
.btn-primary:focus {
	box-shadow: 0 0 0 0.2rem rgba(221, 72, 20, .25);
}
.btn-primary:not(:disabled):not(.disabled):active {
	background-color: var(--ci-secondary);
	border-color: var(--ci-secondary);
	color: var(--white);
}
.btn-primary:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 0.2rem rgba(221, 72, 20, .25);
}
